<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="row justify-content-center">
      <a href="/" class="btn btn-primary mb-3">Back</a>
      <div class="col-md-6">
        <form method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Coupon Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Input name"
              required
              value="<%= coupon.name %>"
              onblur="trimInput()"
            />
          </div>
          <div class="mb-3">
            <label for="expiry" class="form-label">Expiry</label>
            <input
              type="date"
              class="form-control"
              id="expiry"
              name="expiry"
              placeholder="Input expiry"
              required
              value="<%= coupon.expiry %>"
              onblur="trimInput()"
            />
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Discount</label>
            <input
              type="number"
              class="form-control"
              id="discount"
              name="discount"
              placeholder="Input Discount"
              required
              value="<%= coupon.discount %>"
              onblur="trimInput()"
            />
          </div>

          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
